/*
 * This file is part of OpenPLC Runtime
 *
 * Copyright (C) 2023 Autonomy, GP Orcullo
 * Based on the work by GP Orcullo on Beremiz for uC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; If not, see <http://www.gnu.org/licenses/>.
 *
 */

#include <stdbool.h>

#include "iec_types_all.h"
#include "POUS.h"

#define SAME_ENDIANNESS      0
#define REVERSE_ENDIANNESS   1

uint8_t endianness;

{% for v in debug.externs %}
{{ v }}
{%- endfor %}

static const struct {
    void *ptr;
    __IEC_types_enum type;
} debug_vars[] = {
{%- for v in debug.vars %}
    {{ v }},
{%- endfor %}
};

#define VAR_COUNT               {{ debug.vars | length }}

uint16_t get_var_count(void)
{
    return VAR_COUNT;
}

size_t get_var_size(size_t idx)
{
    switch (debug_vars[idx].type) {
{%- for t in debug.types -%}
    {% if '{}_ENUM'.format(t) in debug.enums %}
    case {{ t }}_ENUM:
    {%- endif %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums %}
    case {{ t }}_O_ENUM:
    {%- endif %}
    {%- if '{}_P_ENUM'.format(t) in debug.enums %}
    case {{ t }}_P_ENUM:
    {%- endif %}
        return sizeof({{ t }});
{%- endfor %}
    default:
        return 0;
    }
}

void *get_var_addr(size_t idx)
{
    void *ptr = debug_vars[idx].ptr;

    switch (debug_vars[idx].type) {
{%- for t in debug.types -%}
    {% if '{}_ENUM'.format(t) in debug.enums %}
    case {{ t }}_ENUM:
        return (void *)&((__IEC_{{ t }}_t *) ptr)->value;
    {%- endif %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums %}
    case {{ t }}_O_ENUM:
    {%- endif %}
    {%- if '{}_P_ENUM'.format(t) in debug.enums %}
    case {{ t }}_P_ENUM:
    {%- endif %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums or '{}_P_ENUM'.format(t) in debug.enums %}
        return (void *)((((__IEC_{{ t }}_p *) ptr)->flags & __IEC_FORCE_FLAG) 
                        ? &(((__IEC_{{ t }}_p *) ptr)->fvalue) 
                        : ((__IEC_{{ t }}_p *) ptr)->value);
    {%- endif %}
{%- endfor %}
    default:
        return 0;
    }
}

void force_var(size_t idx, bool forced, void *val)
{
    void *ptr = debug_vars[idx].ptr;

    if (forced) {
        size_t var_size = get_var_size(idx);
        switch (debug_vars[idx].type) {
{%- for t in debug.types -%}
    {% if '{}_ENUM'.format(t) in debug.enums %}
        case {{ t }}_ENUM: {
            memcpy(&((__IEC_{{ t }}_t *) ptr)->value, val, var_size);
            //((__IEC_{{ t }}_t *) ptr)->value = *(({{ t }} *) val);
            ((__IEC_{{ t }}_t *) ptr)->flags |= __IEC_FORCE_FLAG;
            break;
        }
    {%- endif %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums %}
        case {{ t }}_O_ENUM: {
            memcpy((((__IEC_{{ t }}_p *) ptr)->value), val, var_size);
            //*(((__IEC_{{ t }}_p *) ptr)->value) = *(({{ t }} *) val);
            ((__IEC_{{ t }}_p *) ptr)->flags |= __IEC_FORCE_FLAG;
            break;
        }
    {%- endif %}
    {%- if '{}_P_ENUM'.format(t) in debug.enums %}
        case {{ t }}_P_ENUM: {
            memcpy(&((__IEC_{{ t }}_p *) ptr)->fvalue, val, var_size);
            //((__IEC_{{ t }}_p *) ptr)->fvalue = *(({{ t }} *) val);
            ((__IEC_{{ t }}_p *) ptr)->flags |= __IEC_FORCE_FLAG;
            break;
        }
    {%- endif %}
{%- endfor %}
        default:
            break;
        }
    } else {
        switch (debug_vars[idx].type) {
{%- for t in debug.types -%}
    {% if '{}_ENUM'.format(t) in debug.enums %}
        case {{ t }}_ENUM:
            ((__IEC_{{ t }}_t *) ptr)->flags &= ~__IEC_FORCE_FLAG;
            break;
    {%- endif %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums or '{}_P_ENUM'.format(t) in debug.enums %}
    {%- if '{}_O_ENUM'.format(t) in debug.enums %}
        case {{ t }}_O_ENUM:
    {%- endif %}
    {%- if '{}_P_ENUM'.format(t) in debug.enums %}
        case {{ t }}_P_ENUM:
    {%- endif %}
            ((__IEC_{{ t }}_p *) ptr)->flags &= ~__IEC_FORCE_FLAG;
            break;
    {%- endif %}
{%- endfor %}
        default:
            break;
        }
    }
}

void swap_bytes(void *ptr, size_t size) 
{
    uint8_t *bytePtr = (uint8_t *)ptr;
    size_t i;
    for (i = 0; i < size / 2; ++i) 
    {
        uint8_t temp = bytePtr[i];
        bytePtr[i] = bytePtr[size - 1 - i];
        bytePtr[size - 1 - i] = temp;
    }
}

void trace_reset(void)
{
    for (size_t i=0; i < VAR_COUNT; i++) 
    {
        force_var(i, false, 0);
    }
}

void set_trace(size_t idx, bool forced, void *val)
{
    if (idx >= 0 && idx < VAR_COUNT) 
    {
        if (endianness == REVERSE_ENDIANNESS)
        {
            // Aaaaarghhhh... Stupid AVR is Big Endian.
            swap_bytes(val, get_var_size(idx));
        }

        force_var(idx, forced, val);
    }
}

void set_endianness(uint8_t value)
{
    if (value == SAME_ENDIANNESS || value == REVERSE_ENDIANNESS)
    {
        endianness = value;
    }
}

